@import 'variable';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;  
}


p {
  font-family: $text-font;
}

.main-wrapper {
  padding: 10px;
}

.background {
  background-image: url('../public/weathrly-welcome.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
  
#app {
  height: 100vh;
}

.today-wrapper {
  display: flex;
  justify-content: space-around;
}

.error {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

