@import 'variable';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.today-wrapper {
  display: flex;
  justify-content: space-around;
}

.ten-day-wrapper {
  display: flex;
  justify-content: center;
}