@import 'variable';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


p {
  font-family: $text-font;
  // color: #fff;
}

.main-wrapper {
  padding-left: 25px;
}

.background {
  background-image: url('../public/weathrly-welcome.jpg');
  background-size: cover;
  background-postion: center;
  background-repeat: no-repeat;
}
  
#app {
  height: 100vh;
}

.today-wrapper {
  display: flex;
  justify-content: space-around;
}


.ten-day-wrapper {
  display: flex;
  justify-content: center;
}