@import 'variable';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


p {
  font-family: $text-font;
}

.main-wrapper {
  padding: 25px;
  background: white;
}
  
#app {
  height: 100vh;
}

.today-wrapper {
  display: flex;
  justify-content: space-around;
}


.ten-day-wrapper {
  display: flex;
  justify-content: center;
}