@import 'variable';

* {
  box-sizing: border-box;  
  margin: 0px;
  padding: 0px;
}

p {
  font-family: $text-font;
}

.main-wrapper {
  padding: 10px;
}

.background {
  background-image: $background-image;
  background-repeat: no-repeat;
  background-size: cover;
}
  
#app {
  height: 100vh;
}

.today-wrapper {
  display: flex;
  justify-content: space-around;
}

.error {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 760px) {
  .today-wrapper {
    flex-direction: column;
  }
}