.card {
  border: 2px solid black;
  padding: 5px;
  margin: 5px;
  border-radius: 10px;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, .8);
  height: 160px;
  width: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around5;
}

.card img {
  width: auto;
}