@import 'variable';

.current-weather-title {
  color: blue;
}

.current-weather-wrapper {
  width: 50%;
  // padding: 25px;
  align-items: center;
  // border: 1px solid blue;
}

.cf-summary {
  margin: 10px auto;
}

.current-weather-wrapper h2 {
  margin-bottom: 10px;
  font-size: 34pt;
  font-family: $title-font;
}

.current-weather-wrapper p {
  font-size: 20pt;
}