@import 'variable';

.current-weather-title {
  margin-bottom: 10px;
  font-size: 28pt;
  font-family: $title-font;
}

.current-weather-wrapper {
  width: 50%;
  align-items: center;
  border-radius: 25px;
  background: rgba(244, 250, 255, .7);
  margin: 20px;
  padding: 15px;
  box-shadow: 2px 5px 15px rgba(100, 100, 100, 0.6);
  color: rgb(25, 75, 102);
}

.current-weather-header {
  display: flex;
  justify-content: space-around;
}

.current-weather-header .temp {
  font-size: 50pt;
}

.current-weather-header img {
  width: 100px;
  height: 100px;
}

.cf-summary {
  margin: 10px auto;
}

.current-weather-wrapper p {
  font-size: 20pt;
}