@import 'variable';

.current-weather-title {
  font-family: $title-font;
  font-size: 28pt;
  margin-bottom: 10px;
}

.current-weather-wrapper {
  background: $card-background-color;
  border-radius: 25px;
  box-shadow: $box-shadow;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
  padding: 15px;
  width: 50%;
}

.current-weather-header {
  display: flex;
  justify-content: space-around;
}

.current-weather-header .temp {
  font-size: 48pt;
}

.current-weather-header img {
  height: 100px;
  width: 100px;
}

.cf-summary {
  margin: 10px auto;
}

.current-weather-wrapper p {
  font-size: 18pt;
}

.current-temp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-temp-wrapper p {
  font-size: 16pt;
}

@media screen and (max-width: 760px) {
  .current-weather-wrapper {
    margin: 10px;
    width: 96.5%;
  }

  .current-temp-wrapper p {
    font-size: 12pt;
  }
}