@import 'variable';

.current-weather-title {
  color: blue;
}

.current-weather-wrapper {
  width: 40%;
  align-items: center;
  // border: 1px solid blue;
}

.current-weather-header {
  display: flex;
  justify-content: space-around;
}

.current-weather-header .temp {
  font-size: 56pt;
}

.current-weather-header img {
  width: 100px;
  height: 100px;
}

.cf-summary {
  margin: 10px auto;
}

.current-weather-wrapper h2 {
  margin-bottom: 10px;
  font-size: 34pt;
  font-family: $title-font;
}

.current-weather-wrapper p {
  font-size: 20pt;
}