@import 'variable';

.footer-wrapper {
  align-items: center;
  background: $background-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
}

.footer-wrapper a {
  color: $footer-color;
  font-family: $footer-font;
  font-size: 14pt;
  text-decoration: none;
}

.github-wrapper {
  display: flex;
  margin-left: 30px;
}

.footer-icon {
  margin: 0px 10px;
  width: 30px;
}

