@import 'variable';

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: teal;
  padding: 10px 0px 50px;
  font-family: $title-font;
  color: $title-color;
  font-size: 20pt;
  height: 100%;
}

.error-wrapper h1 {
  letter-spacing: 0.2em;
  font-size: 40pt;
  margin: 20px;
}

.error-wrapper .sad-cloud {
  width: 300px;
}

.error-wrapper .search-wrapper {
  height: 35px;
  /*width: 400px;*/
}

.error-wrapper .search-button {
  padding: 0px 10px;
}
