@import 'variable';

.error-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: teal;
  padding: 10px 0px 50px;
  font-family: $title-font;
  color: $title-color;
  font-size: 20pt;
}

.error-wrapper img {
  width: 300px;
}