@import 'variable';

.error-wrapper {
  align-items: center;
  background: $error-background-color;
  color: $title-color;
  display: flex;
  flex-direction: column;
  font-family: $title-font;
  font-size: 20pt;
  height: 100%;
  justify-content: center;
  padding: 6px;
}

.error-wrapper h1 {
  font-size: 40pt;
  letter-spacing: 0.2em;
  margin: 20px;
}

.error-wrapper h2 {
  margin: 10px;
}

.error-wrapper h3 {
  letter-spacing: .05em;
  margin-bottom: 40px;
}

.error-wrapper .sad-cloud {
  width: 300px;
}

.error-wrapper .search-wrapper {
  height: 35px;
}

.error-wrapper .search-button {
  padding: 0px 10px;
}

.error-wrapper .search-icon {
  height: 25px;
}

@media screen and (max-width: 690px) {
  .error-wrapper .search-input {
    width: 300px;
    font-size: 18pt;  
  }
}

@media screen and (max-width: 480px) {
  .error-wrapper .search-input {
    width: 80%;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .error-wrapper .search-button {
    font-size: 16pt;
  }

  .error-wrapper .sad-cloud {
    width: 200px;
  }
}