@import 'variable';

.header {
  align-items: center;
  background: $background-color;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.header h1 {
  font-family: $title-font;
  font-size: 30pt;
  letter-spacing: .1em;
  color: $title-color;
}

.header .search-wrapper {
  height: 35px; 
}

.header .search-button {
  padding: 0px 15px;
}

.header .search-icon {
  height: 25px;
}

@media screen and (max-width: 950px) {
  .header .search-input {
    width: 300px;
    font-size: 18pt;
  }
}

@media screen and (max-width: 715px) {
  .header {
    flex-direction: column-reverse;
  }

  .header h1 {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 505px) {
  .header .search-input {
    width: 80%;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .header .search-button {
    font-size: 16pt;
  }
}
