@import 'variable';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: rgba(90, 136, 154, 0.8);
  padding: 20px;
}

.header h1 {
  font-family: $title-font;
  font-size: 30pt;
  letter-spacing: .1em;
  color: $title-color;
}

.header .search-wrapper {
  height: 35px; 
}

.header .search-button {
  padding: 0px 15px;
}

