@import 'variable';

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: teal;
  padding: 20px;
  margin-bottom: 20px;
}

.header h1 {
    font-family: $title-font;
    letter-spacing: .1em;
    color: $title-color;
}

.header .search-wrapper {
  height: 35px; 
}

.header .search-button {
  padding: 0px 15px;
}

