@import url('https://fonts.googleapis.com/css?family=Raleway');

.input-wrapper {
  border-radius: 30px 0px 0px 30px;
  border: none;
  background: #fff;
  display: flex;
}

.search-button {
  border-radius: 0px 30px 30px 0px;
  border: none;
  padding: 5px 15px;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;
}

.search-icon {
  width: 40px;
  margin: 0px 10px;
}

.search-input {
  border: none;
  font-size: 20pt;
  width: 500px;
  font-family: 'Raleway', sans-serif;
}

.search-input:focus {
  outline: none;
}

.search-wrapper {
  display: flex;
  height: 50px;
}

.suggestion-list {
  position: absolute;
  background: rgba(210, 210, 210, .8);
  list-style: none;
  margin-left: 45px;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  overflow: scroll;
  overflow-x: hidden;
  width: 515px;
  cursor: pointer;
}

.suggestion-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.suggestion-list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: rgba(0, 0, 0, .5);
}

.suggestion-list li {
  padding: 0px 15px;
}

.suggestion-list li:hover {
  background: rgba(115, 115, 115, .8);
  color: #fff;
  padding: 0px 30px;
  font-weight: bold;
}
