@import 'variable';

.input-wrapper {
  align-items: center;
  background: $title-color;
  border: none;
  border-radius: 30px 0px 0px 30px;
  display: flex;
}

.search-button {
  background: #ccc;
  border-radius: 0px 30px 30px 0px;
  border: none;
  color: $text-color;
  cursor: pointer;
  font-family: $text-font;
  font-size: 20pt;
  padding: 5px 15px;
}

.search-button:disabled {
  color: grey;
}

.search-icon {
  height: 35px;
  padding: 0px 10px;
}

.search-input {
  border: none;
  color: $text-color;
  font-family: $text-font;
  font-size: 20pt;
  width: 500px;
}

.search-input:focus {
  outline: none;
}

.search-wrapper {
  display: flex;
  height: 50px;
}

.suggestion-list {
  background: rgba(210, 210, 210, .8);
  cursor: pointer;
  font-family: $footer-font;
  font-size: 20pt;
  line-height: 1.5em;
  list-style: none;
  margin-left: 45px;
  overflow: scroll;
  overflow-x: hidden;
  position: absolute;
  width: 515px;
}

.suggestion-list::-webkit-scrollbar {
  -webkit-appearance: none;
}

.suggestion-list::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
}

.suggestion-list li {
  color: $text-color;
  padding: 0px 15px;
}

.suggestion-list li:hover {
  background: rgba(115, 115, 115, .8);
  color: $title-color;
  font-weight: bold;
  padding: 0px 30px;
}
