@import url('https://fonts.googleapis.com/css?family=Raleway');

.input-wrapper {
  border-radius: 30px 0px 0px 30px;
  border: none;
  background: #fff;
  display: flex;
}

.search-button {
  border-radius: 0px 30px 30px 0px;
  border: none;
  padding: 5px 15px;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
}

.search-icon {
  width: 40px;
  margin: 0px 10px;
}

.search-input {
  border: none;
  font-size: 20pt;
  width: 500px;
  font-family: 'Raleway', sans-serif;
}

.search-wrapper {
  display: flex;
  height: 50px;
}

.suggestion-list {
  position: absolute;
  background: rgba(210, 210, 210, .8);
  list-style: none;
  margin-left: 45px;
  font-size: 20pt;
  font-family: 'Raleway', sans-serif;
  line-height: 1.5em;
  overflow: scroll;
  overflow-x: hidden;
  width: 515px;
  padding: 0px 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
}