@import 'variable';

.seven-hour-wrapper {
  width: 50%;
  border-radius: 25px;
  background: rgba(244, 250, 255, .7);
  margin: 20px;
  box-shadow: 2px 5px 15px rgba(100, 100, 100, 0.6);
  color: rgb(25, 75, 102);
}

.seven-hour-wrapper .card {
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: center;
  // border-bottom: 1px solid black;
  height: 50px;
}

.card div.hourcard {
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 25px;
  align-items: center;
}

.seven-hour-wrapper .time {
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.seven-hour-wrapper .conditions, 
.seven-hour-wrapper .temp {
  text-align: center;
}

.seven-hour-wrapper .conditions {
  width: 130px;
}

.seven-hour-wrapper img{
  width: 35px;
  // height: 30px;
}

.seven-hour-wrapper .icon {
  width: 100px;
}

.seven-hour-wrapper h2 {
  text-align: center;
  font-size: 30pt;
  font-family: $title-font;
  margin-bottom: 10px;
}

.seven-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}