@import 'variable';

.seven-hour-wrapper {
  background: $card-background-color;
  border-radius: 25px;
  box-shadow: $box-shadow;
  color: $text-color;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  width: 50%;
}

.seven-hour-wrapper .card {
  border-top: 1px groove;
  width: 95%;
}

.card div.hourcard {
  align-items: center;
  display: flex;
  height: 25px;
  justify-content: space-around;
}

.seven-hour-wrapper .time {
  font-weight: bold;
  text-align: center;
  width: 100px;
}

.seven-hour-wrapper .conditions, 
.seven-hour-wrapper .temp {
  text-align: center;
}

.seven-hour-wrapper .conditions {
  width: 130px;
}

.seven-hour-wrapper img{
  width: 35px;
}

.seven-hour-wrapper .icon {
  width: 100px;
}

.seven-hour-wrapper h2 {
  font-family: $title-font;
  font-size: 26pt;
  text-align: center;
}

.seven-card-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 760px) {
  .seven-hour-wrapper {
    margin: 10px;
    width: 96.5%;
  }
}