@import 'variable';

.seven-hour-wrapper {
  width: 40%
}

.seven-hour-wrapper .card {
  height: 40px;
  width: 100%;
  flex-direction: row;
}

.seven-hour-wrapper h2 {
  // color: green;
  text-align: center;
  font-size: 30pt;
  font-family: $title-font;
  margin-bottom: 10px;
}

.seven-card-wrapper {
  display: flex;
  flex-direction: column;
}