.seven-hour-wrapper {
  border: 3px solid green;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, .8);
}

.seven-hour-wrapper h2 {
  color: green;
}

.seven-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  // justify-content: center;
}