@import 'variable';

.seven-hour-wrapper {
  width: 50%;
  border-radius: 25px;
  background: rgba(244, 250, 255, .7);
  margin: 20px;
  box-shadow: 2px 5px 15px rgba(100, 100, 100, 0.6);
  color: rgb(25, 75, 102);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.seven-hour-wrapper .card {
  width: 95%;
  border-bottom: 1px groove;
}

.card div.hourcard {
  display: flex;
  // width: 100%;
  justify-content: space-around;
  height: 25px;
  align-items: center;
}

.seven-hour-wrapper .time {
  width: 100px;
  font-weight: bold;
  text-align: center;
}

.seven-hour-wrapper .conditions, 
.seven-hour-wrapper .temp {
  text-align: center;
}

.seven-hour-wrapper .conditions {
  width: 130px;
}

.seven-hour-wrapper img{
  width: 35px;
  // height: 30px;
}

.seven-hour-wrapper .icon {
  width: 100px;
}

.seven-hour-wrapper h2 {
  text-align: center;
  font-size: 26pt;
  font-family: $title-font;
  margin-bottom: 10px;
}

.seven-card-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 760px) {
  .seven-hour-wrapper {
    width: 97%;
    margin: 10px;
  }
}