@import 'variable';

.ten-day-card-wrapper {
  padding-top: 20px;
  // color: red;
  text-align: center;
}

.ten-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ten-day-card-wrapper h2 {
  margin-bottom: 10px;
  font-size: 30pt;
  font-family: $title-font;
}

.ten-day-card-wrapper .date {
  display: flex;
  justify-content: center;
  font-size: 14pt;
  font-weight: bold;
  margin-bottom: 5px;
}

.ten-day-card-wrapper .conditions {
  height: 45px;
}