@import 'variable';

.ten-day-info-wrapper {
  background: $card-background-color;
  border-radius: 25px;
  box-shadow: $box-shadow;
  color: $text-color;
  margin: 20px;
  padding: 20px;
  text-align: center;
}

.ten-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ten-card-wrapper .card  {
  background: $card-background-color;
  border-radius: 10px;
  margin: 3px;
}

.ten-day-info-wrapper h2 {
  font-family: $title-font;
  font-size: 26pt;
  margin-bottom: 10px;
}

.ten-day-info-wrapper .date {
  display: flex;
  font-size: 14pt;
  font-weight: bold;
  justify-content: center;
  margin-bottom: 5px;
}

.ten-day-info-wrapper .conditions {
  height: 45px;
}

@media screen and (max-width: 760px) {
  .ten-day-info-wrapper {
    margin: 10px;
  }
}