@import 'variable';

.ten-day-card-wrapper {
  padding-top: 20px;
  // color: red;
  text-align: center;
}

.ten-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.ten-day-card-wrapper h2 {
  margin-bottom: 10px;
  font-size: 30pt;
  font-family: $title-font;
}