@import url('https://fonts.googleapis.com/css?family=Righteous');

@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Expanded');

$title-font: 'Righteous', sans-serif;
$text-font: 'Encode Sans Expanded', sans-serif;
$title-color: #fff;
