@import 'variable';

.welcome {
  background-image: $background-image;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
}

.welcome-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin: 75px;
}

.welcome-title {
  color: $title-color;
  font-family: $title-font;
  font-size: 100pt;
  letter-spacing: .1em;
  margin: 0px 0px 90px 0px;
}

@media screen and (max-width: 750px) {
  .welcome-title {
    font-size: 80pt;
    margin: 0px;
  } 

  .welcome .search-input {
    font-size: 18pt;
    width: 350px;
  }
}

@media screen and (max-width: 550px) {
  .welcome-title {
    font-size: 50pt;
  }
  .welcome .search-input {
    font-size: 16pt;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 80%;
  }

  .welcome .search-button {
    font-size: 16pt;
  }
}

