@import 'variable';

.welcome {
  background: teal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-title {
  color: $title-color;
  font-size: 100pt;
  margin: 0px 0px 90px 0px;
  font-family: $title-font;
  letter-spacing: .1em;
}



