@import 'variable';

.welcome {
  height: 100vh;
  display: flex;
  justify-content: center;
  background-image: url('../public/weathrly-welcome.jpg');
  background-size: cover;
}

.welcome-wrapper {
  margin: 75px;
  height: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.welcome-title {
  color: $title-color;
  font-size: 100pt;
  margin: 0px 0px 90px 0px;
  font-family: $title-font;
  letter-spacing: .1em;
}

@media screen and (max-width: 750px) {
  .welcome-title {
    font-size: 80pt;
    margin: 0px;
  } 

  .welcome .search-input {
    width: 350px;
    font-size: 18pt;
  }
}

@media screen and (max-width: 550px) {
  .welcome-title {
    font-size: 50pt;
  }
  .welcome .search-input {
    width: 80%;
    font-size: 16pt;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .welcome .search-button {
    font-size: 16pt;
  }
}

